---
import type {TeamMember} from "../../models/TeamMember";
import TeamMemberCard from "./TeamMemberCard.astro";

interface Props {
  title: string;
  members: Array<TeamMember>;
}

const {members, title} = Astro.props;
---

<div class="grid grid-cols-1 md:grid-cols-3 md:grid-rows-2 gap-4">
  {
    members.map((member, index) =>
      <TeamMemberCard teamMember={member} accent={index % 2 === 1} />
    )
  }
</div>
